$text-primary:  #3C4852;
$text-secondary : #627984;
// $text-symbol-red : #EB5757;
$text-symbol-red : #FF5000;
$background-primary: #2596be;
$background-light : #f3f3f3;
$background-medium-dark: #627984;
$background-dark: #627984;
$border-dotted-medium-dark: 0.5px dotted #3C4852;
$border-dotted-large-dark: 1px dotted #3C4852;
$border-dotted-large-light: 1px dotted #f3f3f3;
